**print Statements**
- print statements are used for only to see outputs
- if we dont print means its not an error
- we are just not able to see or check the answer

In [2]:
number = 100

In [3]:
print(number)

100

In [1]:
import os

In [4]:
import virat

ModuleNotFoundError: No module named 'virat'

In [6]:
print(100)

100

In [7]:
print(100,200,300)

100 200 300

In [8]:
print(100,200,300,'apple')

100 200 300 apple

In [9]:
n1 = 100
n2 = 200

In [10]:
print('n1',n1,'n2',n2,'apple')

n1 100 n2 200 apple

In [11]:
print('n1',n1,'n2',n2,apple)

NameError: name 'apple' is not defined

In [12]:
print('n1 =',n1,'and','n2 =',n2)

n1 = 100 and n2 = 200

In [14]:
add = n1 + n2
print('the addition of',n1,'and',n2,'is',add)

the addition of 100 and 200 is 300

In [18]:
# take three variable
# name age city
# My name is Lalit, i am 26 years old and i came from Odisha .

In [19]:
name = 'Lalit'
age = 26
city = 'Odisha'
print('My name is',name,',i am',age,'years old and i came from',city,'.')

My name is Lalit ,i am 26 years old and i came from Odisha .

**format**

In [21]:
n1 = 100
n2 = 200
print('the addition of {} and {} is {}'.format(n1,n2,n1+n2))

the addition of 100 and 200 is 300

In [23]:
name = 'Lalit'
age = 26
city = 'Odisha'
print('My name is {}, i am {} years old and i came from {}.'.format(name,age,city))

My name is Lalit, i am 26 years old and i came from Odisha.

**f-String**

In [24]:
n1 = 100
n2 = 200
print(f'the addition of {n1} and {n2} is {n1+n2}')

the addition of 100 and 200 is 300

In [25]:
name = 'Lalit'
age = 26
city = 'Odisha'
print(f'My name is {name}, i am {age} years old and i came from {city}.')

My name is Lalit, i am 26 years old and i came from Odisha.

In [27]:
n1 = 100
n2 = 200
print('the addition of {} + {} is {}'.format(n1,n2,n1+n2))
print(f'the addition of {n1} + {n2} is {n1+n2}')

the addition of 100 + 200 is 300
the addition of 100 + 200 is 300

In [28]:
# 5x7 = 35
n1 = 5
n2 = 7
f'{n1}X{n2}={n1*n2}'

'5X7=35'

**end**

- Multple print statements attach together.

In [30]:
print(3,end='===>')
print(4,end='***')
print(5)

3===>4***5

**sep**

In [31]:
print(3,4,5,sep = '==>')

3==>4==>5

**Assignment**

In [33]:
# wap take three number and find the avg.
n1 = 10
n2 = 20
n3 = 30
avg = (n1+n2+n3)/3
print('the average of {}, {} and {} is {}'.format(n1,n2,n3,avg))
print(f'the average of {n1}, {n2} and {n3} is {avg}')

the average of 10, 20 and 30 is 20.0
the average of 10, 20 and 30 is 20.0

In [2]:
# wap ask a user calculate area of triangle 
pi = 3.14
radius = 20
area = pi * radius * radius
print('The area of triangle is {}, where pi is {} and radius is {}.'.format(area,pi,radius))
print(f'The area of triangle is {area}, where PI is {pi} and radius is {radius}.')

The area of triangle is 1256.0, where pi is 3.14 and radius is 20.
The area of triangle is 1256.0, where PI is 3.14 and radius is 20.

In [3]:
# wap calculate the area of right angle triagle
breadth = 5
height = 6
area = 0.5 * breadth * height
print('The area of right angle triangle is {}, where breadth is {} and height is {}.'.format(area,breadth,height))
print(f'The area of right angle triangle is {area}, where breadth is {breadth} and height is {height}.')

The area of right angle triangle is 15.0, where breadth is 5 and height is 6.
The area of right angle triangle is 15.0, where breadth is 5 and height is 6.

In [4]:
# wap calculate area of rectangle
length = 7
breadth = 8
area = length * breadth 
print('The area of rectangle is {}, where length is {} and breadth is {}.'.format(area,length,breadth))
print(f'The area of rectangle is {area}, where length is {length} and breadth is {breadth}.')

The area of rectangle is 56, where length is 7 and breadth is 8.
The area of rectangle is 56, where length is 7 and breadth is 8.

In [5]:
# wap to ask the user take two variable
bill = 5000
tip = 100
total = bill + tip
print('The bill is {} and tip is {}, Total bill is : {}'.format(bill,tip,total))
print(f'The bill is {bill} and tip is {tip}, Total bill is : {total}')

The bill is 5000 and tip is 100, Total bill is : 5100
The bill is 5000 and tip is 100, Total bill is : 5100

In [9]:
# wap to calculate tax
salary = 50000
tax_percent= 5
tax = salary * tax_percent/100
total_salary = salary - tax
print('Salary is {}, where tax percentage is {}%, So in-hand salary is {}'.format(salary,tax_percent,total_salary))
print(f'Salary is {salary}, where tax percentage is {tax_percent}%, So in-hand salary is {total_salary}')

Sallary is 50000, where tax percentage is 5%, So in-hand sallary is 47500.0
Sallary is 50000, where tax percentage is 5%, So in-hand sallary is 47500.0