<a href="https://colab.research.google.com/github/lalitkumar315/N_IT/blob/main/Session_14_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Strings
- Representations
- inbuilt functions
    - print type len
    - max min sum
    - sorted reversed
- Concatenation
- Index operations
- Mutable vs Immutable
- Slice
- Methods

**Representation**

In [2]:
name1 = 'Python'
name2 = "Python"
name3 = '''Python'''
sen = """hi good morning
            how are you"""
sen1 = 'i like "python"'
sen2 = "i like 'python'"

In [3]:
name1,name2,name3,sen,sen1,sen2

('Python',
 'Python',
 'Python',
 'hi good morning\n            how are you',
 'i like "python"',
 "i like 'python'")

**inbuilt functions**

In [6]:
str1 = 'python'

In [7]:
type(str1)

str

In [8]:
len(str1)

6

In [10]:
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
max(str1)

'y'

In [12]:
min(str1)

'h'

In [17]:
sorted(str1)

['h', 'n', 'o', 'p', 't', 'y']

In [16]:
sorted(str1, reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [14]:
reversed(str1)

In [18]:
print(reversed(str1))

<reversed object at 0x7f7ec5c2fd60>

In [19]:
list(reversed(str1))

['n', 'o', 'h', 't', 'y', 'p']

In [20]:
out = list(reversed(str1))
for i in out:
    print(i)

n
o
h
t
y
p

**concatenation**

In [21]:
str1 = 'python'
str2 = 'programming'
concate = str1 + ' ' + str2

In [22]:
concate

'python programming'

In [23]:
str1 - str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
str1 * str2

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
str1 / str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [26]:
3*str1

'pythonpythonpython'

**index operations**

In [27]:
str1 = 'python'

# 0 1 2 3 4 5
# p y t h o n
#-6-5-4-3-2-1

str1[-6]

'p'

In [28]:
str = 'python'

print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])

print(str[-6])
print(str[-5])
print(str[-4])
print(str[-3])
print(str[-2])
print(str[-1])

for i in range(6):
    print(str[i])

p
y
t
h
o
n
p
y
t
h
o
n
p
y
t
h
o
n

In [29]:
str = 'python'
n = len(str)
for i in range(n):
    print(str[i])

p
y
t
h
o
n

**in vs range**

In [30]:
str1 = 'python'
for i in str1:
    print(i)

for i in range(len(str1)):
    print(str1[i])

p
y
t
h
o
n
p
y
t
h
o
n

In [35]:
str1 = 'ola ola ola'
count = 0
for i in range(len(str1)):
    print(str1[i])
    if str1[i] == 'a':
        count += 1
print('\n',count)

o
l
a

o
l
a

o
l
a

 3

In [38]:
str1 = 'ola ola ola'
sum = 0
# sum of indexes of 'a'
for i in range(len(str1)):
    if str1[i] == 'a':
        sum += i
        print(i)
print(sum)

2
6
10
18