In [1]:
input()
input()
input()

 first box
 second box
 third box

'third box'

In [3]:
name = input('Enter the name:')
age = input('Enter the age:')
city = input('Enter the city:')
print(name)
print(age)
print(city)

Enter the name: python
Enter the age: 15
Enter the city: HYD

python
15
HYD

In [4]:
n1 = int(input('Enter the N1:'))
n2 = int(input('Eter the N2:'))
n1 + n2

Enter the N1: 20
Eter the N2: 30

50

In [5]:
n1 = int(input('Enter the N1:'))
n2 = float(input('Enter the N2:'))
n1 + n2

Enter the N1: 20
Enter the N2: 30.5

50.5

In [6]:
n1= int(30.5)

In [7]:
n1

30

In [8]:
n1= int(30.5)
n1

30

In [9]:
n2 = int(input('Enter the N2:'))
n2

Enter the N2: 100.5

ValueError: invalid literal for int() with base 10: '100.5'

In [10]:
n1 = eval(input('Enter the N1:'))
n2 = eval(input('Enter the N2:'))
n1 + n2

Enter the N1: 10
Enter the N2: 10.50

20.5

In [11]:
n2 = int(10.5)
n2

10

In [12]:
n2 = int(float(input('Enter the N2:')))
n2

Enter the N2: 30.5

30

In [13]:
# wap ask the use enter 3 number
# find AVG

In [15]:
number_1 = eval(input('Enter the N1:'))
number_2 = eval(input('Enter the N2:'))
number_3 = eval(input('Enter the N3:'))
Average_of_three = ( number_1 + number_2 + number_3 ) / 3
round(Average_of_three,2)

Enter the N1: 13.0
Enter the N2: 25.3
Enter the N3: 45

27.77

In [16]:
# wap ask a user calculate area of triangle 
pi = eval(input('Enter PI value'))
radius = eval(input('Enter the radius'))
area = pi * radius * radius
area

Enter PI value 3.14
Enter the radius 20

1256.0

In [17]:
# wap calculate the area of right angle triagle
breadth = eval(input('Enter breadth'))
height = eval(input('Enter height'))
area = 0.5 * breadth * height
area

Enter breadth 15
Enter height 20

150.0

In [18]:
# wap calculate area of rectangle
length = eval(input('Enter lenght'))
breadth = eval(input('Enter breadth'))
area = length * breadth 
area

Enter lenght 20
Enter breadth 10

200

In [19]:
# wap to ask the user take two variable
bill = eval(input('Enter BILL'))
tip = eval(input('Enter TIP'))
total = bill + tip
total

Enter BILL 5000
Enter TIP 150

5150

In [20]:
# wap to calculate tax
salary = eval(input('Enter Sallary'))
tax_percent= eval(input('Enter tax'))
tax = salary * tax_percent/100
print(tax)
total_salary = salary - tax
total_salary

Enter Sallary 60000
Enter tax 10

6000.0

54000.0